.my-carousel-bg {
    background-color: #fceae8;
}
.btn-buy-now {
    background-image: linear-gradient(#ff589b, #ff136f);
}
.price {
    color: #ff136f;
}
.categories img {
    width: 100px;
}
.categories .cat-bg-1 {
    background-color: orange;
}
.categories .cat-bg-2 {
    background-color: orchid;
}
.categories .cat-bg-3 {
    background-color: blue;
}
